<!DOCTYPE html>
<html>
  <head>
    <title>Jonathan</title>
    <!-- CSRF token -->
    <meta content="<%= (clack.middleware.csrf:csrf-token caveman2:*session*) %>" name="csrf-token" />
  </head>
  <body>
    <!-- React -->
    <script src="/js/bundle.js"></script>
  </body>
</html>
